<div class="container py-3">
    <div class="col pb-0">
        <div style="text-align:center;"></div>
    </div>

      <div class="row">
        <div class="col">
          <h2 class="m-4 font-weight-bold">マイページ</h2>
            <div class="flash">
              <%= flash[:notice] %>
            </div>
        </div>
      </div>

    <div class="row">
      <div class="col-3">
        <table class="table", style="font-size: 13px;">
          <thead class="table-secondary">
            <tr>
              <th colspan="2", class="text-center">
                こんにちは！<%= @customer.first_name %>&nbsp;様！
                <% if @customer.email != "guest@example.com" %>
                  <div class='col'>
                    <%= link_to "登録情報変更", customers_information_edit_path, class: "btn btn-dark btn-sm" %>
                  </div>
                <% end %>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th width="180">氏名</th>
              <td width="200">
                <%= @customer.last_name %>
                <%= @customer.first_name %>
              </td>
            </tr>

            <tr>
              <th>カナ</th>
              <td>
                <%= @customer.last_name_kana %>
                <%= @customer.first_name_kana %>
              </td>
            </tr>

            <tr>
              <th>郵便番号</th>
              <td><%= @customer.postal_code %></td>
            </tr>

            <tr>
              <th>住所</th>
              <td><%= @customer.address %></td>
            </tr>

            <tr>
              <th>電話番号</th>
              <td>
                <%= @customer.phone_number %>
              </td>
            </tr>

            <tr>
              <th>メールアドレス</th>
              <td><%= @customer.email %></td>
            </tr>

            <tr>
              <th colspan="2", class="text-center">
                <%= link_to shipping_addresses_path, class: "btn btn-outline-dark btn-sm" do%>
                  <i class="fas fa-shipping-fast mr-2"></i>配送先一覧ページへ
                <% end %>
              </th>
            </tr>

            <tr>
              <th colspan="2", class="text-center">
                <%= link_to orders_path, class: "btn btn-outline-dark btn-sm" do%>
                  <i class="fas fa-shopping-basket mr-2"></i>注文履歴一覧へ
                <% end %>
              </th>
            </tr>

            <tr>
              <th colspan="2", class="text-center">
                <%= link_to contacts_path, class: "btn btn-outline-dark btn-sm" do%>
                  <i class="far fa-envelope-open mr-2"></i>お問い合わせ履歴
                <% end %>
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <%= render 'public/customers/bookmark', bookmark_shops: @bookmark_shops %>
    </div>