<div class="container py-5">
  <h4 class="m-4 font-weight-bold"><strong>お問い合わせ内容</strong></h4>
  <p class="mb-5">※送信はまだ完了しておりません。<br>お問い合わせ内容が正しければ送信ボタンを押してください。</p>

  <div class="row">
    <div class="col">
      <table>
        <tbody>
          <tr>
            <td class="text-center" style="width: 30%;">件名</td>
            <td><%= @contact.subject %></td>
          </tr>

          <tr>
            <td class="text-center">メッセージ</td>
            <td style="white-space: pre-wrap;"><%= @contact.content %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= form_with model: @contact, url:contacts_path, method: :post do |f| %>
    <%= f.hidden_field :name, value: @customer.last_name + @customer.first_name %>
    <%= f.hidden_field :email, value: @customer.email %>
    <%= f.hidden_field :phone_number, value: @customer.phone_number %>
    <%= f.hidden_field :subject %>
    <%= f.hidden_field :content %>
    <div><%= f.submit '送信', class: 'btn btn-outline-dark mt-3' %></div>
  <% end %>
  <%= form_with model: @contact, url:back_path, method: :post do |f| %>
    <%= f.hidden_field :name, value: @customer.last_name + @customer.first_name %>
    <%= f.hidden_field :email, value: @customer.email %>
    <%= f.hidden_field :phone_number, value: @customer.phone_number %>
    <%= f.hidden_field :subject %>
    <%= f.hidden_field :content %>
    <div><%= f.submit '入力画面に戻る', class: 'btn btn-outline-dark mt-2 btn-sm' %></div>
  <% end %>
</div>