<div class="container py-5">
  <h4 class="m-4 font-weight-bold"><strong>お問い合わせ</strong></h4>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @contact, url:contacts_confirm_path do |f| %>
        <div>
          <%= f.label :subject, '件名' %>
          <%= f.text_field :subject, autofocus: true, class: 'form-control' %>
        </div>

        <div>
          <%= f.label :content, 'お問い合わせ内容' %>
          <%= f.text_area :content, size: '10x10', class: 'form-control' %>
        </div>

        <div>
          <%= f.submit '入力内容確認', class: 'btn btn-outline-dark mt-3' %>
        </div>
      <% end %>
    </div>
  </div>
</div>