<div class="container">
 <div class="row">
  <div class="col">
   <h4 class="m-4 d-flex justify-content-between font-weight-bold">ショップ一覧
   <%=link_to "ショップを追加する", new_admin_shop_path, class: "btn btn-warning rounded-pill" %></h4>
   </div>
          <table class='table table-inverse text-center'>
            <thead>
              <tr>
                <th>ショップID</th>
                <th>ショップ名</th>
                <th>住所</th>
                <th>電話番号</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @shops.each do |shop| %>
                <tr>
                  <td><%= shop.id %></td>
                  <td><%= shop.name %></td>
                  <td>
                   　　<%= shop.postal_code %><br>
                   　　<%= shop.prefecture_i18n %><%= shop.address %>
                  </td>
                  <td><%= shop.phone_number%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
     </div>
  </div>
