<div class="container py-3">
  <div class="row">
    <div class="col-md-6 mx-auto mb-1", style="color: #363e38; font-family: 'Noto Sans JP', sans-serif;">
      <h4><strong><i class="fas fa-store"></i><%= @shop.name %></strong>
        <span id="bookmark_button_<%= @shop.id %>"><%= render 'public/bookmarks/bookmark_button', shop: @shop %></span>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto mt-2 mb-2">
      <div class="picture">
        <%= image_tag @shop.image, size: "500x400" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto mt-2 mb-5">
      <table class="introduction", style="font-size: 16px; color: #666;">
        <td><%= @shop.introduction %></td>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto mt-2 mb-5 p-3", style="border: solid #c4c4ac;">
      <table class="shop", style="font-size: 13px;">
        <tr>
          <th>店舗情報</th>
        </tr>

        <tr>
          <td class="pt-2">
            <u><i class="fas fa-store"></i><%= @shop.name %></u>
          </td>
        </tr>

        <tr>
          <td class="pt-2">〒<%= @shop.postal_code %><br><%= @shop.prefecture %><%= @shop.address %></td>
        </tr>

        <tr>
          <td class="pt-2">TEL:<%= @shop.phone_number %></th>
        </tr>
      </table>
      <%= link_to items_shop_path(@shop) do %>
        <%= @shop.name %>の商品一覧はこちら
      <% end %>
    </div>
  </div>
</div>

