<div class="container py-5">
  <div class="row">
    <div class="col">
      <% if @shipping_address.errors.any? %>
        <%= @shipping_address.errors.count %>件のエラーが発生しました
        <ul>
          <% @shipping_address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h4 class="m-4 font-weight-bold"><strong>配送先新規登録</strong></h4>
      <%= form_with model: @shipping_address, url: shipping_addresses_path, method: :post do |f| %>
        <table class="table table-bordered">
          <tr>
            <th class="text-center", style="background-color: #e8ecdb;"><%= f.label "郵便番号" %></th>
            <td><%= f.text_field :postal_code,placeholder: "0000000（ハイフンなし）", size:"25x5" %></td>
          </tr>
          <tr>
            <th class="text-center", style="background-color: #e8ecdb;"><%= f.label "住所" %></th>
            <td><%= f.text_field :address,placeholder: "東京都XX区XXXX町0-0", size:"25x5" %></td>
          </tr>
          <tr>
            <th class="text-center", style="background-color: #e8ecdb;"><%= f.label "宛名" %></th>
            <td><%= f.text_field :name,placeholder: "山田太郎"%></td>
          </tr>
        </table>
        <%= f.submit "新規登録", class: 'btn btn-outline-dark rounded-0' %>
      <% end %>
    </div>

    <div class="col-8">
      <h4 class="m-4 font-weight-bold"><strong>登録済み配送先</strong></h4>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <table class='table table-bordered mt-4'>
        <thead class="text-center", style="background-color: #e8ecdb;">
          <tr>
            <th width="110">郵便番号</th>
            <th width="300">住所</th>
            <th width="130">宛名</th>
            <th colspan="2",width="50"></th>
          </tr>
        </thead>

        <tbody  class="text-center">
          <% @shipping_addresses.each do |shipment| %>
            <tr>
              <td>〒<%= shipment.postal_code %></td>
              <td><%= shipment.address %></td>
              <td><%= shipment.name %></td>
              <td>
                <%=link_to "編集する", edit_shipping_address_path(shipment), class:"btn btn-sm btn-outline-success rounded-0" %>
                <%=link_to "削除する", shipping_address_path(shipment), data: {confirm: "本当に消しますか？"}, class:"btn btn-sm btn-outline-danger rounded-0", method: :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>