<div class="container py-5">
  <h4 class="m-4 font-weight-bold"><strong>お問い合わせ内容</strong></h4>

  <div class="flash">
    <%= flash[:notice] %>
  </div>

  <div class="row mb-5">
    <div class="col">
      <table>
        <tbody>
          <tr>
            <td class="text-center" style="width: 30%;">お名前</td>
            <td><%= @contact.name %></td>
          </tr>

          <tr>
            <td class="text-center" style="width: 30%;">件名</td>
            <td><%= @contact.subject %></td>
          </tr>

          <tr>
            <td class="text-center">お問い合わせ内容</td>
            <td style="white-space: pre-wrap;"><%= @contact.content %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h4 class="m-4 font-weight-bold"><strong>返信フォーム</strong></h4>
  <div class="row">
    <div class="col">
      <%= form_with model: @contact, url:admin_contacts_path, method: :post do |f| %>
        <%= f.hidden_field :customer_id, value: @contact.customer_id %>
        <div>件名： <%= 'Re:' + @contact.subject %></div>

        <div>
          <%= f.label :reply_content, '返信内容：' %>
          <%= f.text_area :reply_content, size: '10x10', class: 'form-control' %>
        </div>

        <div>
          <%= f.submit '送信', class: 'btn btn-outline-dark mt-3' %>
        </div>
      <% end %>
    </div>
  </div>
</div>