<%= @contact.name %> 様 から問い合わせがありました。<br>
【Tel】：<%= @contact.phone_number %><br>
【Mail】：<%= @contact.email %><br>
【件名】：<%= @contact.subject %><br>
【返信内容】<br>
<span style="white-space: pre-wrap;"><%= @contact.message %></span>