<%= search_form_for search, url: items_path do |f| %>
  <!--name_contは、あいまい検索を指定-->
  <%= f.search_field :name_cont, placeholder: "キーワードから商品を探す", size: "25x5" %>
  <!--ransackを利用する時のカラム。_eqは「イコール」の略-->
  <%= f.collection_select :shop_prefecture_eq, JpPrefecture::Prefecture.all, :name, :name, { include_blank: 'ショップの所在地' } %>
  <!--検索ボタンが押されててジャンルがある、もしくはジャンル検索から来たか、どちらでもなければvalueは空白でページでは商品一覧が出る-->
  <%= f.hidden_field :genre_id, value: (params[:q])? params[:q][:genre_id] : params[:genre_id] %>
    <button class="btn btn-dark btn-circle m-1">
      <i class="fa fa-search">
        <%= f.submit %>
      </i>
    </button>
<% end %>