<div class="container py-3">
  <div class="row my-2 py-2">
    <div class="col-md-8 offset-md-1">
      <%= render "public/items/search", search: @search %>
    </div>
  </div>

  <div class="row d-flex mt-4 ">
    <div class="col-2">
      <%= render "public/items/genre_search", genres: @genres %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="d-flex flex-row">
        <div style="margin-right: 10px;"><%= image_tag @item.image, size: "350x350" %></div>
        <table class="table table-bordered border-primary" style="text-align: center;">
          <thead class="table", style="background-color:rgba(252,236,204,0.3);">
            <tr>
              <th>
                <h5><strong><%= @item.name %></strong></h5>
                ¥<%=@item.with_tax_price.to_s(:delimited) %>(税込)
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th>< 商品情報 ><br><%= simple_format(@item.detail) %></th>
            </tr>

            <tr>
              <th>
                < ショップ情報 ><br>
                <div class="picture">
                  <%= link_to shop_path(@item.shop), class: "text-info" do %>
                    <%= image_tag @item.shop.image, size: "50x50" %>&nbsp;<%= @item.shop.name %>
                  <% end %>
                </div>
              </th>
            </tr>

            <tr>
              <td>
                <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
                  <%= f.select :quantity, [['1個',1], ['2個',2], ['3個',3], ['4個',4], ['5個',5], ['6個',6], ['7個',7], ['8個',8], ['9個',9], ['10個',10]] , include_blank: "個数選択" %>
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <%= f.submit "カートに入れる", class: 'btn btn-dark rounded-0' %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>