<!DOCTYPE html>
<html>
  <head>
    <title>Revege</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="ml-5" href="/"><%=image_tag "header3.png", size:"170x120" %></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                 <ul class="navbar-nav ml-auto ">

                   <!--以下会員がログインした場合の表示-->
                   <% if customer_signed_in? %>
                      <li class="mr-2">
                       <%=link_to my_page_path, class:'btn btn-outline-secondary rounded-pill' do %>
                         <i class="fas fa-house-user mr-2"></i>マイページ
                       <%end%>
                      </li>

                      <li class="mr-2">
                       <%=link_to items_path, class:'btn btn-outline-secondary rounded-pill' do %>
                         <i class="fas fa-seedling mr-2"></i>商品一覧
                       <%end%>
                      </li>

                      <li class="mr-2">
                       <%=link_to cart_items_path, class:'btn btn-outline-secondary rounded-pill' do %>
                        <i class="fas fa-shopping-cart mr-2"></i>カート
                       <%end%>
                      </li>

                      <li class="mr-2">
                       <%=link_to destroy_customer_session_path, method: :delete, class:'btn btn-outline-secondary rounded-pill' do %>
                         ログアウト
                       <%end%>
                      </li>
                   <!--以下、管理者がログインした場合の表示-->
                   <% elsif admin_signed_in? %>
                      <li class="mr-2"><%= link_to "注文履歴一覧", root_path, class:'btn btn-outline-secondary rounded-pill' %></li>
                      <li class="mr-2"><%= link_to "会員一覧", admin_customers_path, class:'btn btn-outline-secondary rounded-pill' %></li>
                      <li class="mr-2"><%= link_to "商品一覧", admin_items_path, class:'btn btn-outline-secondary rounded-pill' %></li>
                      <li class="mr-2"><%= link_to "ショップ一覧", admin_shops_path, class:'btn btn-outline-secondary rounded-pill' %></li>
                      <li class="mr-2"><%= link_to "ジャンル一覧", admin_genres_path, class:'btn btn-outline-secondary rounded-pill' %></li>
                      <li class="mr-2"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:'btn btn-outline-secondary rounded-pill' %></li>
                   <!--以下はログインしてない場合の表示-->
                   <% else %>
                      <li class="mr-2">
                       <%=link_to about_path, class:'btn btn-outline-secondary rounded-pill' do %>
                         <i class="fas fa-question mr-2"></i>ABOUT US
                       <%end%>
                      </li>

                      <li class="mr-2">
                       <%=link_to items_path, class:'btn btn-outline-secondary rounded-pill' do %>
                         <i class="fas fa-seedling mr-2"></i>商品一覧
                       <%end%>
                      </li>

                      <li class="mr-2">
                       <%=link_to new_customer_session_path, class:'btn btn-primary rounded-pill' do %>
                        ログイン|会員登録
                       <%end%>
                      </li>
                   <%end%>
                </ul>
            </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="footer">
        <p style= "text-align: center;">@ReVege</p>
  　</footer>

  </body>
</html>
